/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* 컨테이너 스타일 */
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 50px;
}

/* 제목 스타일 */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

h2 {
  color: #555;
  margin-bottom: 20px;
}

/* 팝업스토어 컨테이너 스타일 */
.popupstore-container {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #fbfbfb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 팝업스토어 제목 스타일 */
.popupstore-title {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 20px;
  text-align: center;
}

/* 카드 레이아웃 */
.reservation-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* 카드 간의 간격 */
  justify-content: space-between;
}

/* 예약 카드 스타일 */
.reservation-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(25% - 25px);
  /* 5개의 카드를 한 줄에 배치하기 위한 너비 설정 */
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reservation-card p {
  margin: 5px 0;
}

.reservation-card strong {
  color: #333;
}

.reservation-card:last-child {
  margin-bottom: 0;
}

/* 리스트 스타일 */
ul {
  list-style-type: none;
  padding: 0;
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
  .reservation-card {
    width: calc(33.333% - 20px);
    /* 너비를 3개의 카드로 줄이기 */
  }
}

@media (max-width: 768px) {
  .reservation-card {
    width: calc(50% - 20px);
    /* 너비를 2개의 카드로 줄이기 */
  }
}